*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.print-area{
    width: 80%;
    margin: 20px auto;
}
.print-area .header{
    width: 100%;
    height: 150px;
    background-color: rgb(31, 34, 43);
    display: flex;
    align-items: center;
    position: relative;
}
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 65px;
    border: 5px solid white;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(100%);
}
.header img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}
.header-text{
    color: white;
    width: 60%;
    margin-left: auto;
}
.header-text h1{
    font-size: 65px;
    font-weight: normal;
}
.header-text p{
    font-size: 30px;
    color: lightgray;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    width: 30%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    padding-bottom: 20px;
}
.left-area .contact{
    margin-top: 130px;
    padding: 0 30px;
}
.contact h4{
    font-size: 30px;
    font-weight: normal;
    margin: 20px 0;
}
.contact h5{
    font-size: 18px;
    margin: 10px 0;
}
.contact p{
    font-size: 17px;
}
.skills{
    margin-top: 20px;
}
.skills h1{
    font-size: 30px;
    font-weight: normal;
}
.bars{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    padding: 0 20px;
}
.bars .bar p{
    font-size: 15px;
    font-weight: bold;
}
.bar span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 191, 191);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar span::before{
    position: absolute;
    content: "";
    width: 75%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10%;
}
.socials h1{
    margin-top: 20px;
    font-size: 30px;
    font-weight: normal;
}
.socials h4{
    font-size: 18px;
    margin: 10px 0;
}
.socials p{
    font-size: 15px;
    color: gray;
}
.languages{
    margin-top: 20px;
}
.languages h1{
    font-size: 30px;
    font-weight: normal;
}
.bar-portuguese span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 191, 191);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-portuguese span::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10%;
}
.bar-portuguese p{
    font-size: 15px;
    font-weight: bold;
}
.bar-germany span{
    display: block;
    width: 100%;
    height: 10px;
    background-color: rgb(192, 191, 191);
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}
.bar-germany span::before{
    position: absolute;
    content: "";
    width: 10%;
    height: 80%;
    background-color: black;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    border-radius: 10%;
}
.bar-germany p{
    font-size: 15px;
    font-weight: bold;
}
.right-area{
    width: 70%;
    padding: 50px;
}
.right-area h1{
    font-size: 35px;
    font-weight: normal;
}
.right-area h1 span{
    margin-right: 30px;
    font-size: 50px;
    color: lightgray;
}
.right-area p{
    padding-left: 70px;
    text-align: justify;
    word-break: normal;
    font-size: 18px;
    color: gray;
    margin-top: 10px;
}
.work-group{
    margin: 20px 0;
}
.work .work-group{
    position: relative;
}
.work-group h3{
    font-size: 22px;
    font-weight: normal;
    padding-left: 70px;
}
.work-group h4{
    font-size: 18px;
    padding-left: 70px;
    font-weight: normal;
    color: gray;
}
.work-group span{
    position: absolute;
    top: 10px;
    right: 0;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.education{
    margin-top: 20px;
}
.edu-group{
    position: relative;
    margin: 10px 0;
}
.edu-group h4{
    padding-left: 80px;
    font-size: 20px;
    font-weight: normal;
}
.edu-group span{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 15px;
    font-weight: bold;
}
.edu-group p{
    padding-left: 80px;
}
button{
    font-size: 25px;
    padding: 10px 20px;
    margin: 50px 0 50px 140px;
    background-color: rgb(83, 83, 83);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background-color: black;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

@media print{
    body *{
        visibility: hidden;
    }
    .print-area *{
        visibility: visible;
    }
}